In [1]:
import pandas as pd
import numpy as np
import json
import pickle

## 1. The dataset for Amazon Review Electronics Product is available at Amazon
## Reviews Dataset . Download the 5-core dataset for Electronics Category, under
## the heading of Small subset for experimentation. Read the file to a dataframe.
## Remember to keep the product metadata in a distinct dataframe as well.

In [ ]:
data = []

with open('meta_Electronics.json', 'r') as file:
    for line in file:
        data.append(json.loads(line))
df = pd.DataFrame(data)

In [ ]:
print(df.shape)
print()
df.head()

In [ ]:
df.columns

In [ ]:
df['category'][0]

In [ ]:

indexes = []
for col in df.columns:
    if df[col].dtype == 'object':
        mask = df[col].astype(str).str.contains('headphones', case=False)
        indexes.extend(df[mask].index)

In [ ]:
indexes = list(set(indexes))
df_headphones = df.loc[indexes].reset_index(drop = True)
print("Rows where 'headphones occur:")
print()
df_headphones.head()

In [ ]:
import pickle
df.to_pickle('metadata_df.pkl')
metadata_df = pd.read_pickle('metadata_df.pkl')
print(metadata_df.shape)
print()
metadata_df.head()

In [2]:
metadata_df = pd.read_pickle('metadata_df.pkl')
print(metadata_df.shape)
print()
metadata_df.head()

(6739590, 12)

,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
0,0151004714,NaN,5.0,This is the best novel I have read in 2 or 3 y...,"09 18, 1999",AAP7PPBU72QFM,D. C. Carrad,{'Format:': ' Hardcover'},A star is born,937612800,True,67
1,0151004714,NaN,3.0,"Pages and pages of introspection, in the style...","10 23, 2013",A2E168DTVGE6SV,Evy,{'Format:': ' Kindle Edition'},A stream of consciousness novel,1382486400,True,5
2,0151004714,NaN,5.0,This is the kind of novel to read when you hav...,"09 2, 2008",A1ER5AYS3FQ9O3,Kcorn,{'Format:': ' Paperback'},I'm a huge fan of the author and this one did ...,1220313600,False,4
3,0151004714,NaN,5.0,What gorgeous language! What an incredible wri...,"09 4, 2000",A1T17LMQABMBN5,Caf Girl Writes,{'Format:': ' Hardcover'},The most beautiful book I have ever read!,968025600,False,13
4,0151004714,NaN,3.0,I was taken in by reviews that compared this b...,"02 4, 2000",A3QHJ0FXK33OBE,W. Shane Schmidt,{'Format:': ' Hardcover'},A dissenting view--In part.,949622400,True,8

In [ ]:
df_headphones.to_pickle('metadata_df_headphones.pkl')

In [3]:
metadata_df_headphones = pd.read_pickle('metadata_df_headphones.pkl')
print(metadata_df_headphones.shape)
print()
metadata_df_headphones.head()

(46620, 19)

,also_buy,also_view,asin,brand,category,date,description,details,feature,fit,imageURL,imageURLHighRes,main_cat,price,rank,similar_item,tech1,tech2,title
0,[],[],B005V3IYHM,MyNetDeals,"[Electronics, Headphones]",,"[* Answer/end / reject a call * Call redial, V...",{},[Bluetooth Ver 2.1 + EDR. Compatible with all ...,,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,Cell Phones & Accessories,,"[>#5,689,866 in Cell Phones & Accessories (See...",,,,Stylish Wireless Stereo Bluetooth Headset/ Hea...
1,[],"[B003NSBKSW, B00KQOZA1Y, B07C7HNH88, B01I3YP7U...",B00DIUGW6A,Shure,"[Electronics, Headphones, Earbud Headphones]","June 21, 2013",[Evolved from personal monitor technology road...,{},[Quad Hi-Definition MicroDrivers: For extended...,,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,All Electronics,$28.01,"[>#80,130 in Cell Phones & Accessories (See To...","class=""a-bordered a-horizontal-stripes a-spa...",,,Shure SE846-CL Sound Isolating Earphones with ...
2,[],[],B005V3J3FE,MyNetDeals,"[Electronics, Headphones]",</div>,[],"{'ASIN:': 'B005V3J3FE', ' Date first listed on...",[Bluetooth Ver 2.1 + EDR. Compatible with all ...,,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,Amazon Devices,,"1,651,594 in Cell Phones & Accessories (",,,,Stylish Wireless Stereo Bluetooth Headset/ Hea...
3,[],[],B00DIW2YJM,INVELLOP,"[Electronics, Computers & Accessories, Tablet ...","June 21, 2013",[Our highly favored Samsung Galaxy Tab 3 10.1 ...,{},[Magnetic strip built inside for secure closur...,,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,Computers,,"[>#66,794 in Electronics > Computers & Accesso...",,,,INVELLOP Black Leatherette Case Cover for Sams...
4,[],[B00IHJII4Q],B00M7NIZ3W,Jarv,"[Electronics, Headphones]",,[NMotion Earbud Features : Bluetooth 4.0 Stere...,{},[Bluetooth 4.0 stereo earbuds with in-line mic...,,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,Cell Phones & Accessories,,"[>#414,519 in Cell Phones & Accessories (See T...",,,,Jarv NMotion Wireless Bluetooth 4.0 Stereo Ear...

In [ ]:
metadata_df_headphones.isnull().sum()

In [ ]:
metadata_df_headphones['brand'].nunique()

In [ ]:
import json
data = []
with open('Electronics_5.json', 'r') as file:
    for line in file:
        data.append(json.loads(line))
df = pd.DataFrame(data)

In [ ]:
print(df.shape)
print()
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.to_pickle('electronics_df.pkl')

In [4]:
df = pd.read_pickle('electronics_df.pkl')
print(df.shape)
print()
df.head()

(6739590, 12)

,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,style,summary,unixReviewTime,verified,vote
0,0151004714,NaN,5.0,This is the best novel I have read in 2 or 3 y...,"09 18, 1999",AAP7PPBU72QFM,D. C. Carrad,{'Format:': ' Hardcover'},A star is born,937612800,True,67
1,0151004714,NaN,3.0,"Pages and pages of introspection, in the style...","10 23, 2013",A2E168DTVGE6SV,Evy,{'Format:': ' Kindle Edition'},A stream of consciousness novel,1382486400,True,5
2,0151004714,NaN,5.0,This is the kind of novel to read when you hav...,"09 2, 2008",A1ER5AYS3FQ9O3,Kcorn,{'Format:': ' Paperback'},I'm a huge fan of the author and this one did ...,1220313600,False,4
3,0151004714,NaN,5.0,What gorgeous language! What an incredible wri...,"09 4, 2000",A1T17LMQABMBN5,Caf Girl Writes,{'Format:': ' Hardcover'},The most beautiful book I have ever read!,968025600,False,13
4,0151004714,NaN,3.0,I was taken in by reviews that compared this b...,"02 4, 2000",A3QHJ0FXK33OBE,W. Shane Schmidt,{'Format:': ' Hardcover'},A dissenting view--In part.,949622400,True,8

In [ ]:
df.columns

In [5]:
e_df = df[['asin', 'overall', 'reviewText', 'style', 'reviewerID', 'unixReviewTime']]
e_df.columns

Index(['asin', 'overall', 'reviewText', 'style', 'reviewerID',
       'unixReviewTime'],
      dtype='object')

In [6]:
def extract_format(style_dict):
    if isinstance(style_dict, dict) and 'Format:' in style_dict:
        return style_dict['Format:']
    else:
        return None
e_df['format'] = e_df['style'].apply(extract_format)
e_df.head()

/home/orchid/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,asin,overall,reviewText,style,reviewerID,unixReviewTime,format
0,0151004714,5.0,This is the best novel I have read in 2 or 3 y...,{'Format:': ' Hardcover'},AAP7PPBU72QFM,937612800,Hardcover
1,0151004714,3.0,"Pages and pages of introspection, in the style...",{'Format:': ' Kindle Edition'},A2E168DTVGE6SV,1382486400,Kindle Edition
2,0151004714,5.0,This is the kind of novel to read when you hav...,{'Format:': ' Paperback'},A1ER5AYS3FQ9O3,1220313600,Paperback
3,0151004714,5.0,What gorgeous language! What an incredible wri...,{'Format:': ' Hardcover'},A1T17LMQABMBN5,968025600,Hardcover
4,0151004714,3.0,I was taken in by reviews that compared this b...,{'Format:': ' Hardcover'},A3QHJ0FXK33OBE,949622400,Hardcover

In [ ]:
sum(e_df['format']== 'headphones')

## # 2. Choose a product of your choice. Let's say ‘Headphones’.

In [7]:
final_headphones = e_df[e_df[['asin']].isin(metadata_df_headphones['asin'].values).all(axis=1)].reset_index(drop = True)

In [8]:
print(final_headphones.shape)
print()
final_headphones.head()

(643077, 7)

,asin,overall,reviewText,style,reviewerID,unixReviewTime,format
0,4126895493,5.0,Great headphones. It's just the cord is too sh...,{'Color:': ' Blue W/Mic'},A38RQFVQ1AKJQQ,1424563200,None
1,4126895493,5.0,Really like these headphone. Wanted something...,{'Color:': ' Blue Zebra W/Mic'},A299MRB9O6GWDE,1494201600,None
2,4126895493,1.0,Wire to headphone broke off in less than a mon...,{'Color:': ' Blue W/Mic'},A3ACFC6DQQLIQT,1478304000,None
3,4126895493,3.0,Very good,{'Color:': ' Green'},A36BC0YFDBNB5X,1474675200,None
4,4126895493,1.0,Currently returning this product because the s...,{'Color:': ' Violet Purple'},A212PQ0HQPNNWM,1468713600,None

In [9]:
final_headphones.isnull().sum()

asin                   0
overall                0
reviewText            97
style             239659
reviewerID             0
unixReviewTime         0
format            638194
dtype: int64

In [16]:
test_headphones = final_headphones
test_headphones['style'] = test_headphones['style'].astype('str')
duplicate_mask = test_headphones.duplicated()
duplicate_indexes = test_headphones[duplicate_mask].index

In [2]:
final_headphones = final_headphones.drop(duplicate_indexes)
print(final_headphones.shape)

In [20]:
print(final_headphones.shape)

(625431, 7)

In [21]:
final_headphones.to_pickle('final_headphones.pkl')

In [22]:
final_headphones = pd.read_pickle('final_headphones.pkl')
print(final_headphones.shape)
print()
final_headphones.head()

(625431, 7)

,asin,overall,reviewText,style,reviewerID,unixReviewTime,format
0,4126895493,5.0,Great headphones. It's just the cord is too sh...,{'Color:': ' Blue W/Mic'},A38RQFVQ1AKJQQ,1424563200,None
1,4126895493,5.0,Really like these headphone. Wanted something...,{'Color:': ' Blue Zebra W/Mic'},A299MRB9O6GWDE,1494201600,None
2,4126895493,1.0,Wire to headphone broke off in less than a mon...,{'Color:': ' Blue W/Mic'},A3ACFC6DQQLIQT,1478304000,None
3,4126895493,3.0,Very good,{'Color:': ' Green'},A36BC0YFDBNB5X,1474675200,None
4,4126895493,1.0,Currently returning this product because the s...,{'Color:': ' Violet Purple'},A212PQ0HQPNNWM,1468713600,None

In [ ]:
final_headphones.columns

## 3. Report the total number of rows for the product. Perform appropriate
## pre-processing as handling missing values, duplicates and other.

In [27]:
print(metadata_df_headphones.astype('str').duplicated().sum())
test_meta_headphones = metadata_df_headphones
test_meta_headphones = test_meta_headphones.astype('str')
duplicate_meta_mask = test_meta_headphones.duplicated()
duplicate_meta_indexes = test_meta_headphones[duplicate_meta_mask].index
metadata_df_headphones = metadata_df_headphones.drop(duplicate_meta_indexes)
print(metadata_df_headphones.shape)

1788
(44832, 19)

In [29]:
metadata_df_headphones.to_pickle("metadata_df_headphones.pkl")

In [28]:
merged_df = pd.merge(final_headphones, metadata_df_headphones, on='asin', how='inner')
merged_df = merged_df[['asin', 'overall', 'reviewText', 'style', 'reviewerID',
       'unixReviewTime', 'format', 'brand']]
print(merged_df.shape)
print()
merged_df.head()

(625431, 8)

,asin,overall,reviewText,style,reviewerID,unixReviewTime,format,brand
0,4126895493,5.0,Great headphones. It's just the cord is too sh...,{'Color:': ' Blue W/Mic'},A38RQFVQ1AKJQQ,1424563200,None,HeadGear
1,4126895493,5.0,Really like these headphone. Wanted something...,{'Color:': ' Blue Zebra W/Mic'},A299MRB9O6GWDE,1494201600,None,HeadGear
2,4126895493,1.0,Wire to headphone broke off in less than a mon...,{'Color:': ' Blue W/Mic'},A3ACFC6DQQLIQT,1478304000,None,HeadGear
3,4126895493,3.0,Very good,{'Color:': ' Green'},A36BC0YFDBNB5X,1474675200,None,HeadGear
4,4126895493,1.0,Currently returning this product because the s...,{'Color:': ' Violet Purple'},A212PQ0HQPNNWM,1468713600,None,HeadGear

In [30]:
merged_df.to_pickle("merged_df.pkl")

In [ ]:
merged_df.isnull().sum()

In [ ]:
merged_df['brand'].value_counts()

In [ ]:
merged_df['brand'].nunique()

In [ ]:
final_headphones.head()

In [ ]:
final_headphones.isnull().sum()

In [ ]:
merged_df.to_pickle('final_headphones.pkl')

In [ ]:
final_headphones.dtypes

In [ ]:
final_headphones = final_headphones[['asin', 'overall', 'reviewText', 'style', 'reviewerID']]
final_headphones['style'].fillna('', inplace=True)
final_headphones.isnull().sum()

In [ ]:
def extract_dict_keys(dictionary):
    keys = list(dictionary.keys())
    values = list(dictionary.values())
    return keys[0], values[0]
final_headphones[['style_key', 'style_value']] = final_headphones['style'].apply(extract_dict_keys).apply(pd.Series)
final_headphones.head()